@model AdminModel
@{
    ViewData["Title"] = "Weekly Report";
}

<head>
    <link rel="stylesheet" href="~/css/site.css" />

</head>

<body>
    <div class="container">

        <main role="main" id="rentPanel">
            <div class="row bg-white p-3">
                <h3>@ViewData["Report"]</h3>
            </div>

            <div class="tableContainer">
                <div style="overflow-x:auto;">
                    <table>
                        <tr>
                            <th>Name</th>
                            <th>Bike Number</th>
                            <th>Check Out Time</th>
                            <th>Check In Time</th>
                            <th>Time In Use</th>
                            <th>Bike Damaged?</th>
                            <th>Returned?</th>
                            <th>Cost</th>
                            <th>Rent Dock</th>
                            <th>Return Dock</th>
                        </tr>

                        @foreach (var item in Model.Rentals)
                        {
                            <tr>
                                <td>@item.RenterEmail</td>
                                <td>@item.BikeNumber</td>
                                <td>@item.CheckOutTime</td>
                                <td>@item.CheckInTime</td>
                                <td>50</td>
                                @if (item.IsBikeDamaged)
                                {
                                    <td>Yes</td>
                                }
                                else
                                {
                                    <td>No</td>
                                }
                                @if (item.CheckInTime.Equals(new DateTime()))
                                {
                                    <td> No</td>
                                }
                                else
                                {
                                    <td> Yes</td>
                                }
                                <td>@item.Price</td>
                                <td>@item.RentDock</td>
                                @if (item.ReturnDock != 0)
                                {
                                    <td>@item.ReturnDock</td>
                                }
                                else
                                {
                                    <td><a asp-action="MissingBike" asp-route-id="@item.BikeNumber">Report It Missing</a></td>
                                }
                            </tr>
                        }
                    </table>
                </div>
            </div>
        </main>
    </div>
    <script>
        if (localStorage.getItem('isRenting') == 'true')
        {
            document.getElementById('Weekly').style.display = 'block';
            document.getElementById('Old').style.display = 'none';
        }
        else
        {
            document.getElementById('Old').style.display = 'none';
            document.getElementById('Weekly').style.display = 'block';
        }
    </script>
</body>